@model HomeViewModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<li>
	<div class="tg-linkstitle">
		<h2>Art Forms</h2>
	</div>
	<ul>
		<li><a href="products.html">Consectetur adipisicing</a></li>
		<li><a href="products.html">Aelit sed do eiusmod</a></li>
		<li><a href="products.html">Tempor incididunt labore</a></li>
		<li><a href="products.html">Dolore magna aliqua</a></li>
		<li><a href="products.html">Ut enim ad minim</a></li>
	</ul>
	<a class="tg-btnviewall" href="products.html">View All</a>
</li>

